/*Main Styling*/

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, fit-content);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p,
ul {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
}

/*Nav Bar*/

.div1 {
  grid-area: 1 / 1 / 1 / 9;
  background-color: #555b6e;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div1 img {
  height: 90px;
}

.div1 ul {
  font-size: 1.2rem;
  list-style: none;
  display: flex;
}

.div1 li {
  padding: 0px 15px;
  color: white;
}

/*Main Section*/

.div2 {
  grid-area: 5 / 2 / 12 / 7;
  background-color: #faf9f9;
  padding: 5px 50px;
  text-align: justify;
}

.feature-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-imgs img {
  max-width: 250px;
  padding: 0px 20px;
}

.img-1 {
  float: right;
  max-height: 300px;
}

.img-2 {
  float: left;
  max-height: 300px;
}

/*Aside - Ad Area*/

.div3 {
  grid-area: 5 / 1 / 12 / 2;
  background-color: #ffd6ba;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 5px;
}

.div3 img {
  max-width: 300px;
}

/*Header Area*/

.div4 {
  grid-area: 2 / 1 / 5 / 9;
  width: 100%;
}

.div4 img {
  width: 100%;
  height: 100%;
}

/*Right Side Area*/

.div5 {
  grid-area: 5 / 7 / 12 / 9;
  background-color: #bee3db;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.div5 img {
  width: 350px;
}

/*Footer*/

.div6 {
  grid-area: 12 / 1/ 14/ 9;
  background-color: #555b6e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
  color: white;
}

.div6 ul {
  padding: 20px;
}

.footLinks {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.social i {
  margin: 10px;
}

/*Media Queries*/

@media (max-width: 1600px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, fit-content);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 9;
  }
  .div2 {
    grid-area: 4 / 1 / 10 / 9;
  }
  .div3 {
    grid-area: 4 / 1 / 10 / 2;
    display: none;
  }
  .div4 {
    grid-area: 2 / 1 / 4 / 9;
  }
  .div5 {
    grid-area: 10 / 1 / 12 / 9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .div6 {
    grid-area: 12 / 1 / 13 / 9;
  }
}
